{% extends 'shop/basic.html' %}
{% block title %} Title of About{% endblock %}

{% block body %} 
<div>
    <div class="container my-3">
    <div class="upper">
    <div class="content-conatiner" float="left" max-width="100px">
    <h1>Fashion Cart</h1>
    <p>
        Fashion Cart is an  e-commerce website, focusing on online sales of fashional clothes and other accessories for different age categories at reasonable price. The website provides fashion accessories categories such as clothes, shoes, watches for different age groups.

We assure best quality services by providing good quality accessories and clothes at reasonable prices , along with fast delivery services.
    </p>
</div>
<br>

<div class="row">
    <div class="col-sm-4" >
        <img src="/static/shop/images/clothing.jfif"/>
    </div>
    <br>
    <div class="col-sm-8" >
        <img src="/static/shop/images/about us.jpg"/>
    </div>
</div>
</div>
</div>   
</div>
{% endblock %}